<%- include("partials/header") %> 


<div class="row">
    <div class="col-12 col-md-6 offset-last offset-md-first contact-img">
        <img src = "/images/about.png" width = "100%">
    </div>
    <div class="col-12 col-md-5 offset-md-1">
        <h1 class = "main-heading"> About Me </h1>
        <p><%= aboutContent %></p>
        <p>I am currently a senior undergraduate pursuing B.tech in Computer Science Engineering. 
            I have currently interned with Microsoft this summer. </p>
        <p>My strong interests are in the areas of Web Development & this time I have prepared this blogpage using both front end and backend tech stacks. 
            The techstacks include HTML, CSS, Bootstrap, Javascript, Node.js, Express.js, EJS, Mailchimp API, and other npm packages.
        </p>   
        <p>Hope you have a wonderful time over my blog website! <i class="bi bi-suit-heart-fill"></i> </p>
    </div>
</div>

<%- include("partials/footer") %> 